<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>

    <div class="BGs"></div>

    <div class="main">

        <div class="topSection">
            <h1>Weather App</h1>
        </div>

        <div class="topHeadSection">

            <form action="/" method="post">

                <label for="city">City Name :</label>
                <input id="city" type="text" name="cityName">
                <button type="submit">Go</button>

            </form>


        </div>


        <div class="footerSection">
            <p>2022 - Diron Polson. Visit <a href="www.github.com">GitHub</a></p>
        </div>

    </div>



    <script src="script.js"></script>
</body>
</html>